* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  background-color: #fdf6f0;
  color: #3e2723;
  line-height: 1.6;
  text-align: center;
}

/* Banner photo */
.hero {
  height: 100vh;
  width: 99vw; 
  background: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93") 
              no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

/* Title text of the banner */
.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Subheading of the text in the banner */
.hero p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.776);
}

/* Body Text of the website */
.body-content {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

/* Subheading text of the body website */
.body-content h2 {
  font-size: 3rem;
  color: #6d4c41;
  margin-bottom: 20px;
}

/* FAQ Section of the Website */
.faq {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}

.faq h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #6d4c41;
  text-align: center;
}

.faq div {
  margin-bottom: 20px;
  padding: 15px;
}

.faq h3 {
  color: #4e342e;
  font-size: 2rem;
  margin-bottom: 10px;
}

.faq p {
  font-size: 20px;
}

/* Card style of the about section */
.section {
  padding: 80px 90px;
  max-width: 900px;
  margin: 50px auto;
  background: #fff8f2; 
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.285);
}

/* Separator Line between the about and faq section */
.separator {
  width: 80%;
  margin: 60px auto;
  border-top: 2px solid #d7ccc8; 
}

footer {
  background: #3e2723;
  color: #fdf6f0;
  text-align: center;
  padding: 25px 15px;
  margin-top: 40px;
}
